<div class="products-list">
    <h1>Productos</h1>
    {{#each products}}
        <ul>
            <li>
                <h1>{{this.title}}</h1>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Código: {{this.code}}</p>
                <p>Estado: {{#if this.status}}Disponible{{else}}No disponible{{/if}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        </ul>
        <h2>Miniaturas:</h2>
        <div class="images">
            {{#each this.thumbnail}}
                <img src="{{this}}" alt="Miniatura">
            {{/each}}
        </div>
    {{/each}}
</div>
<script src="/js/index.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>